 /**
  * Regular Board CSS
  *
  * CSS to style Regular Board (February 10th, 2014)
  */

 /**
  * Table of contents
  *
  * Typography
  * Multimedia
  * Buttons
  * Form Elements
  * Tables
  * Containers
  * Responsive
  */
 /**
  * Typography
  *
  * Typographical specifications
  */
 .regular_board_board_all,
 .regular_board_board_all * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  text-transform: none;
  text-shadow: none;
  box-shadown: none;
  text-decoration: none;
  text-align: left;
  color: #000;
 }  
 .regular_board_board_all .form_form p {
	margin: 5px !important;
	padding: 10px 0 !important;
 } 
 .regular_board_board_all code {
	background: transparent !important; 
 }
  
 .regular_board_board_all span.frontinfo,
 .regular_board_board_all h1{
	clear: none !important;
 }
.regular_board_board_all .nav_tools {
	color: #000;
	background-color: #fff;
	margin: 0 0 5px 0 !important;
	padding: 5px;
	position: relative;
	width: 100%; 
	text-align: center;
	z-index: 3;
 } 
 .regular_board_board_all .top_nav {
	background-color: #000;
	border-bottom: 1px solid rgba(0,0,0,.1);
	display: block; 
	font-size: 10px;
	height: 65px;
	margin: 0;
	overflow: hidden; 
	padding: 5px;
	text-transform: uppercase;
	width: 100%;
	z-index: 2;
	position: relative;
 }
 .regular_board_board_all .top_nav a,
 .regular_board_board_all .top_nav span {
	color: rgba(255,255,255,.8) !important;
	float: left; 
	margin: 2px 0 0 2px;
	padding: 3px;
	text-decoration: none !important;
	height: 50px;
	line-height: 35px;
 }
 .regular_board_board_all .top_nav a:hover {
	color: #fff !important;
	background-color: #5e85ba;
	color: #fff !important;
 }
 .regular_board_board_all .nav-right {
	margin: 0 5px 0 0;
	float: right;
 }
 .regular_board_board_all .profile-section i {
	color: rgba(0,0,0,.4);
	cursor: default;
	float: right; 
	font-size: 72px;
 }
  .regular_board_board_all .small-left { 
	background-color: transparent !important;
	font-size: 10px;
	line-height: 15px;
	float: left;
	width: 350px !important;
 } 
 .regular_board_board_all .smallstats {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	display: block; 
	margin: 15px auto;
	padding: 5px;
	text-align: center;
	width: 100%:
 }
 .regular_board_board_all .clear {
	clear: both; 
	display: block;
 }
 .regular_board_board_all .clear:after {
	clear: both; 
	content: "";
	display: table;
 }
 .regular_board_board_all .prunedate {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	border-radius: 2px;
	padding: 2px;
 }
 .regular_board_board_all h1 {
	margin: 5px;
	font-size: 30px;
	line-height: 45px;
 }
 .regular_board_board_all h2 {
	margin: 0;
	font-size: 25px;
	line-height: 30px;
 }
 .regular_board_board_all h3 {
	margin: 0;
	font-size: 20px;
	line-height: 25px;
 } 
 
 .regular_board_board_all .left-half span {
	display: block;
	width: 100%;
 }
 .regular_board_board_all .left-half span:after {
	clear: both; 
	content: "";
	display: table;
 }
 
 .regular_board_board_all .left-half .tag_cloud {
	width: 100%;
	margin: 5px auto;
 }
 .regular_board_board_all .left-half .tag_cloud:after {
	clear: both; 
	content: "";
	display: table;
 }
 .regular_board_board_all .left-half .tag_cloud .nothing {
	opacity: .5;
 }
 .regular_board_board_all .left-half .tag_cloud .nothing:hover{
	opacity: 1!important;
 }
 .regular_board_board_all .left-half .tag_cloud span {
	clear: none; 
	display: block;
	float: left; 
	margin: 0;
	position: relative;
	width: auto; 
 }
 .regular_board_board_all .left-half .tag_cloud span a.active {
	border: none!important;
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
 }
 .regular_board_board_all .text,
 .regular_board_board_all .left-half span a {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	display: block; 
	margin: 0;
	padding: 10px;
	text-decoration: none!important;
 }
 
 .regular_board_board_all ul {
	display: block;
 }
 .regular_board_board_all li {
	display: block;
	margin: 5px 0;
	padding: 2px;
 } 
 .regular_board_board_all .powerlevel {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	border-radius: 2px;
	margin: 5px;
	padding: 5px;
 }
 .regular_board_board_all .left {
	float: left; 
	padding: 5px;
	text-align: left; 
 }
 .regular_board_board_all .right {
	float: right; 
	padding: 5px;
	text-align: right;
 }
 .regular_board_board_all span.frontinfo {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	display: block; 
	font-size: 15px;
	line-height: 20px;
	margin: -5px 0 0 -5px;
	padding: 5px;
 }
 .regular_board_board_all a.boardlink {
	display: block; 
	float: left;
	margin: 5px;
	padding: 5px;
	text-align: center;
	width: 20%;
 }
 .regular_board_board_all .countdown span {
 	background-color: #000;
	color: #fff;
 }
 .regular_board_board_all .announcement {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	clear: both;
	display: block;
	margin: 5px 0;
	padding: 5px;
	width: 100%;
 }
 .regular_board_board_all .announcement a {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	padding: 2px;
 }
 .regular_board_board_all form .fa-fw {
	color: rgba(0,0,0,.5);
	margin: 32px 0 0 3px;
	position: absolute;
	z-index: 2;
 }
 .regular_board_board_all .searchresult {
	font-weight: 900;
	text-decoration: underline;
 }
 .regular_board_board_all .urls a {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	border-radius: 2px;
	font-size: 10px;
	line-height: 18px; 
	padding: 2px;
 }
 .regular_board_board_all .reply h1,
 .regular_board_board_all .reply h3 {
	color: rgba(255,255,255,.5)!important;
	text-align: center;
 }
 .regular_board_board_all .fa-play {
	position: relative;
	font-size: 20px;
	margin: 0;
	text-align: center;
	text-shadow: -1px 0px 2px #000;
	width: 100%;
 }
 .user_hash {
	color: #7ab550;
 }
 .regular_board_board_all small{
	cursor: default!important;
	font-size: 10px;
	padding: 1px!important;
 }
 .regular_board_board_all a {
	border: none!important;
	color: rgba(11,38,75,1)!important;
	text-decoration: underline!important;
	margin: 0 3px 0 0;
 }
 .regular_board_board_all a:hover {
	color: rgba(75,11,40,1) !important;
 }
 .regular_board_board_all p{
	height: auto!important;
	margin: 0!important;
	padding: 5px!important;
	width: auto!important;
	word-wrap: break-word!important;
 }
 .regular_board_board_all span.spoiler{
	color: #000;
	background-color: #000;
	
 }
 .regular_board_board_all span.spoiler:hover{
	color: #fff;
	background-color: #000;
 }
.regular_board_board_all span.quotes{
	
 }
 .regular_board_board_all .strike {
	text-decoration: line-through;
 }
 a.newtopic,
 span.notopic {
	cursor: pointer;
	margin: 0 0 0 5px;
 }

 /**
  * Multimedia
  *
  * Images and iframes
  */
 
 .thumb {
	padding: 5px;
	border-radius: 3px;
	width: 73px;
 }
 
 .regular_board_board_all .banner {
	display: block;
	height: 100px;
	margin: 5px auto;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 1;
	overflow: hidden;
 }
 .regular_board_board_all .banner img {
	display: block;
	margin: 2px auto;
 }
 .regular_board_board_all .thread .imgs img {
	width: 25%;
 }
 .regular_board_board_all .thread .imgs .imageEXPAND{
	height: auto;
	width: 100%!important;
	margin: 5px 5px 5px -5px;
	position: relative;
	padding: 5px;
 } 
 .regular_board_video_thumbnail_large {
	clear: both;
	display: block;
	margin: 5px auto;
	width: 100%;
	height: 315px;
 }
 .regular_board_board_all img.galleryIMAGE {
	float: left;
	margin: 0;
	width: 25% !important;
	padding: 0 !important;
	display: table;
 }
 .regular_board_board_all .imageFULL{
	clear: both;
	height: auto;
	margin: 5px 5px 5px -1px;
	position: relative;
	padding: 5px;
	display: table;
	max-width: 100%;
 } 
 .regular_board_board_all .imageOP{
	height: auto;
	max-width: 250px;
	margin: 5px 5px 5px -1px;
	position: relative;
	padding: 5px;
	float: left;
	display: table;
 }
 .regular_board_board_all .imageEXPAND{
	height: auto;
	max-width: 100%;
	margin: 5px 5px 5px -5px;
	position: relative;
	padding: 5px;
	float: left;
 }
 .regular_board_board_all .thread .thumbnail {
	border-radius: 3px;
	display: table;
	float: left; 
	height: 35px; 
	margin: 0 5px 0 0;
	padding: 1px;
 }  
 
 /**
  * Buttons
  *
  * Action buttons for various things like toggles
  */
  
 .regular_board_board_all .srchideme,
 .regular_board_board_all .srcme{
	cursor: pointer;
 }	
 .regular_board_board_all .thread .loadme,
 .regular_board_board_all .thread .hideme {
	cursor: pointer;
	display: block;
	float: left;
	font-size: 15px !important;
	margin: 8px 5px 0 !important;
 }
 .regular_board_board_all .thread i.fa-plus-square,
 .regular_board_board_all .thread i.fa-minus-square {
	font-size: 100%;
	line-height: 105%;
	margin: 5px;
 }
 
 /**
  * Form Elements
  *
  * All elements that are related to forms
  */
 .regular_board_board_all input[type="submit"] {
	border: none !important;
	cursor: pointer;
	display: block;
	font-size : 100%;
	color : #081724;
	height: 30px;
	margin: 5px auto;
	background-color : #dcebfa; 
	padding: 1% !important;
	width: 100% !important;
 }  
 .regular_board_board_all .profile-section {
	border-bottom: 1px solid rgba(0,0,0,.1);
	display: block;
	margin: 5px 0;
	overflow: hidden;
	padding: 15px 0;
	width: 100%;
 }
 .regular_board_board_all .profile-section:hover {
	background-color: rgba(255,255,255,1);
 }
 .regular_board_board_all .profile-section input,
 .regular_board_board_all .profile-section select {
	margin: 5px 0;
 }
 .regular_board_board_all .friend_request {
	display: block; 
	float: left; 
	padding: 5px;
	width: 25%; 
 }
 .regular_board_board_all .friend_request label {
	height: auto;
 }
 .regular_board_board_all form.right {
	display: block; 
	float: right;
	padding: 5px;
	width: 70px; 
 }
 .regular_board_board_all .user-options {
	display: block; 
	width: 100%;
	margin: auto;
 } 
 .regular_board_board_all .user-options span {
	display: none;
	visibility: hidden; 
	height: 0;
 } 
 .regular_board_board_all .user-options select,
 .regular_board_board_all .user-options input {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	border: none!important;
	border-radius:0!important;
	clear: none!important;
	cursor: pointer!important;
	display: block!important; 
	float: right!important;
	height: 31px!important;
	font-size: 10px!important;
	margin: 0!important;
	width: 70%!important;
 }
 .regular_board_board_all .user-options input[type="text"]:focus ~ span,
 .regular_board_board_all .user-options input[type="password"]:focus ~ span {
	clear: both;
	color: rgba(0,0,0,.9);
	display: block;
	height: auto;
	margin: 5px;
	padding: 5px;
	visibility: visible;
 }
 .regular_board_board_all .user-options label {
	border: none!important;
	clear: none!important;
	display: block!important; 
	float: left!important;
	height: 32px!important;
	font-size: 10px!important;
	text-align: left!important;
	width: 25%!important;
 } 
 .regular_board_board_all .user-options h3 {
	color: rgba(255,255,255,.9);
	display: block;
	text-align: center;
 }
 .regular_board_board_all .user-options section {
	clear: both; 
	display: block;
	margin: 0;
	width: 100%;
 }
 .regular_board_board_all .user-options section:after {
	clear: both; 
	content: "";
	display: table;
 }
  
 .regular_board_board_all .registration {
	display: block;
	width: 100%;
 }
 .regular_board_board_all .registration:after {
	clear: both; 
	content: "";
	display: table;
 }
 .regular_board_board_all .registration form {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	border-radius: 5px;
	clear: none;
	display: table;
	float: left;
	margin: 5px 2px;
	padding: 5px; 
	width: 100%; 
 }
 .regular_board_board_all .registration form label,
 .regular_board_board_all .registration form input{
	clear: both;
	display: block; 
	font-size: 10px;
	width: 100%;
 }
 .regular_board_board_all p.information {
	color: rgba(0,0,0,.3);	
	cursor: default;
	font-size: 25px;
	line-height: 27px;
	padding: 5px;
 }
 .regular_board_board_all form p {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	clear: both; 
	display: block;
	padding: 5px;
 }
 .regular_board_board_all #FORMSUBMIT {
	cursor: pointer;
 }
 .regular_board_board_all .reply {
	color: rgba(255,255,255,.8);
	overflow: hidden;
	padding: 5px;
	margin: 0;
	width: 100%!important;
 }
 #regular_board_search {
	box-shadow: none;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	clear: both;
	color: #000;
	display: block;
	font-size: 25px;
	margin: 0 auto;
	position: relative;
	visibility: visible;
	width: auto;
 }
 .imgur {
	clear: both;
	display: block;
	height: 20px!important;
	margin: 0 0 5px 0!important;
	position: relative;
 }
 .regular_board_board_all .noborder #reply {
	margin: 0 0 0 -5px !important;
 } 
 .regular_board_board_all #reply {
	margin: 0 auto 0 auto;
	width: 100%;
 }
 .regular_board_board_all .right-half #reply {
	margin: 0 auto -2px 0;
 }
 .regular_board_board_all #reply section {
	clear: both;
 	color: rgba(0,0,0,.5);
	display: block;
	line-height: 25px;
 }
 .regular_board_board_all #reply section:after {
	border: 1px solid rgba(255,255,255,.1);
	content: "";
	clear: both;
	display: table;
 }
 .regular_board_board_all #reply form {
	display: block;
	margin: 5px auto;
	padding: 5px;
	width: auto;
 }
 .regular_board_board_all #reply form textarea {
	height: 200px;
 }
 .regular_board_board_all #reply form select {
	margin: 0 0 5px 0 !important;
 } 
 .regular_board_board_all #reply form textarea,
 .regular_board_board_all #reply form select,
 .regular_board_board_all #reply form input[type="text"],
 .regular_board_board_all #reply form input[type="password"],
 .regular_board_board_all #reply form input[type="file"]{
	background-color: rgba(0,0,0,.1);
	color: rgba(0,0,0,.5);
	box-shadow: none;
	border: none;
	border-radius: 2px;
	clear: none;
	cursor: default;
	display: block;
	float: left;
	font-size: 15px;
	margin: 5px 0 5px;
	padding: 1%;
	text-align: left;
	visibility: visible;
	width: 100%;
 }
 .regular_board_board_all #reply form label:hover {
	color: rgba(0,0,0,.7);
 }
 .regular_board_board_all #reply form label, 
 .regular_board_board_all form label {
	border-radius: 0;
	color: rgba(0,0,0,.4);
	clear: both;
	cursor: pointer;
	display: block;
	font-size: 10px;
	height: auto;
	margin: 0 0 -5px -2px;
	position: relative;
	padding: 5px;
	text-align: left;
	text-transform: uppercase;
	width: 98%;	
 }

 /**
  * Tables
  *
  * Mainly used on the stats page.
  */
  
 .regular_board_board_all table {
	
	clear: both;
	display: block;
	margin: 15px 5px;
	padding: 5px;
	width: 95%;
	width: calc(100% - 10px);
 }
 .regular_board_board_all table tr:hover td {
	
	
 }
 .regular_board_board_all table td {
	
	padding: 5px;
 }
 .regular_board_board_all table td:nth-child(even) {
	margin: 2px -5px;
	padding: 5px;
 }
 .regular_board_board_all table td:nth-child(odd) {
	margin: 2px -5px;
	padding: 5px;
 }
 
 /**
  * Containers
  *
  * Containers for threads, replies, and boards.
  */
 .regular_board_board_all .form_form {
	clear: both; 
	display: block; 
	margin: -18px auto 5px;
	position: relative;
	width: 100% !important; 
 }
 .regular_board_board_all .form_form small {
	color: rgba(0,0,0,.8);
	display: block;
	text-align: center;
	width: 100%;
 }  
 .regular_board_board_all .footer {
	background-color: #fff;
	color: #000;
	border: none;
	display: block;  
	clear: both; 
	width: 100%; 
	margin: 15px auto 0 auto;
	padding: 5px;
	z-index: 3;
	position: relative;
	text-align: center;
 }
 .regular_board_board_all .footer:after {
	clear: both; 
	content: "";
	display: table;
 }
 .regular_board_board_all {
	background-color: #f7fcff;
	border-top: 5px solid #5175a5;
	border-radius: 3px;
	display: block;
	font-family: Arial, Verdana;
	font-size: 12px;
	line-height: 15px;
	display: block;
	line-height: 15px;
	margin: 5px auto;
	overflow-x: hidden;
	position: relative;
	text-shadow: none!important;
	width: 99%;
 }
 .regular_board_board_all .thread_container:after,
 .regular_board_board_all .lastthree span:after,
 .regular_board_board_all .lastthree:after,
 .regular_board_board_all .thread:after,
 .regular_board_board_all:after {
	clear: both;
	content: "";
	display: table;
 }
 
 .regular_board_board_all .thread_container {
	width: 100%;
	margin: 5px;
 }
 
 
 .regular_board_board_all .noborder {
	border:none!important;
 }
 
 .regular_board_board_all .lastthree {
	border-top: 1px solid rgba(0,0,0,.1);
	display: block; 
	padding: 5px;
	width: 100%;
 }
 .regular_board_board_all .lastthree span {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	display: block; 
	line-height: 12px;
	margin: 5px 0;
	padding: 5px;
	width: 100%;
 }
 .regular_board_board_all .lastthree span a {
	color: rgba(0,0,0,.8)!important;
	display: block;
	height: 100%;
	text-decoration: none!important;
	width: 100%;
 }
 .regular_board_board_all .lastthree span img {
	clear: both;
	display: block; 
	width: 100%;
 }
 .bg-left {
	background-color: #f7fcff;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50%;
	z-index: 1;
 }
 .bg-right {
	background-color: #eef4ff;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50%;	
	z-index: 1;
 } 
 .regular_board_board_all .right-half {
	background-color: #f7fcff;
	float: left;
	margin: 5px -35px 5px 5px;
	padding: 5px 10px 5px 0;
	width: 48%;
	z-index: 2;
	position: relative;
 }
 .regular_board_board_all .left-half .imageFULL {
	margin: 0 0 0 -5px;
	width: 100% !important;
 }
 .regular_board_board_all .left-half-two strong,
 .regular_board_board_all .left-half-two span {
	clear: both; 
	display: block; 
	padding: 5px;
 }
 .regular_board_board_all .left-half-two {
	margin: 5px !important;
 } 
 .regular_board_board_all .left-half-two,
 .regular_board_board_all .left-half {
	color: #000;
	background-color: #eef4ff;
	position: relative;
	float:right;
	display: block;
	margin: 5px;
	padding: 2px;
	width: 24%;
	overflow: hidden;
	z-index: 2;
	position: relative;
 }
 .regular_board_board_all .left-half .piece_form {
	z-index: 99;
 }
 .regular_board_board_all .left-half .piece_form,
 .regular_board_board_all .left-half .piece {
	margin: 0 0 5px 0;
	padding: 5px;
	position: relative;
 } 
 .regular_board_board_all .left-half input[type="text"] {
	cursor: default;
	display: block;
	margin: 5px auto;
	width: 100%;
 }
 .regular_board_board_all .spacer {
	background-color: #fbfeff;
	display: block;
	height: auto;
	margin: 0 0 10px 0;
	width: 100%;
 }
 .regular_board_board_all .spacer:after {
	clear: both;
	content: "";
	display: table;
 }
 .regular_board_board_all .container_half {
	width: 45%;
	margin: 5px;
	text-align: left; 
	float: left;
 }
 
 .regular_board_board_all ul.menu {
	clear: both; 
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
 }
 
 .regular_board_board_all ul.menu a {
	text-decoration: none!important;
 }
 .regular_board_board_all ul.menu,
 .regular_board_board_all ul.dropit-submenu {
	border-radius: 2px;
	background-color: #fff;
	color: #000;
	list-style: none;
	padding: 5px; 	
 }
 .regular_board_board_all ul.dropit-submenu {
 	height: 200px; 
	overflow: auto; 
	text-align: center;
	border: 1px solid rgba(0,0,0,.1);
	margin: 5px 0 0 -10px;
	width: 100%;
 }
 .regular_board_board_all ul.dropit-submenu li {
	text-align: left!important;
 }
 .regular_board_board_all .imgs,
 .regular_board_board_all .urls {
	width: 100%;
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	padding: 5px;
 } 
 .regular_board_board_all .imgs:before,
 .regular_board_board_all .urls:before,
 .regular_board_board_all .imgs:after,
 .regular_board_board_all .urls:after {
	clear: both; 
	content: "";
	display: table;
 }
 .regular_board_board_all p.newtopic {
	margin: 25px auto;
 }
 .regular_board_board_all p.boardheader {
	clear: both; 
	font-size: 25px;
	line-height: 35px;
	margin: 10px auto;
	text-align: center;
 }
 .regular_board_board_all p.boardheader a {
	clear: both; 
	display: block; 
	font-size: 35px;
	line-height: 45px;
 }
 .regular_board_board_all span.boards {
	display: block; 
	margin: -15px 0 0 -5px;
	padding: 5px;
	position: relative;
	width: 100%; 
	z-index: 2;
 }
 .regular_board_board_all .board_head {
	height: 70px !important;
 }
 .regular_board_board_all .board_header {
	font-size: 25px;
	line-height: 35px;
	height: 45px;
	overflow: hidden;
 }
 .regular_board_board_all .board_header a {
	text-decoration: none !important;
 }
 .regular_board_board_all .navi {
	background-color: #bed2ed;
	border-bottom: 1px solid #bed2ed;
	clear: both;
	display: block;
	font-size: 10px;
	height: 15px;
	margin: 0 auto 0 auto;
	overflow: hidden;
	padding: 5px;
	position: relative;
	text-align: left;
	width: 100%;
	z-index: 3;
 }
 .regular_board_board_all .navi:after {
	clear: both; 
	content: "";
	display: table;
 }
 .regular_board_board_all .navi a {
	background-color: rgba(255,255,255,.5);
	border: 1px solid #bed2ed !important;
	border-bottom: 0 !important;
	display: table;
	float: left;
	padding: 3px 5px 5px 5px;
	text-decoration: none!important;
	margin: 0 2px -6px 3px;
	text-align: center;
 }
 .regular_board_board_all a.active {
	color: #000 !important;
	background-color: #fff;
 }
 .regular_board_board_all a.active i {
	color: red;
 }
 .regular_board_board_all .navi a span {
	margin: 0 0 0 5px;
 }
 .regular_board_board_all .userbar {
	clear: both; 
	display: block;
	margin: 30px 0 0 0;
	text-align: center;
 }
 .regular_board_board_all .thread {
	clear: both;
	color: rgba(0,0,0,.9);
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 5px;
	text-align: left;
	width: 98%;
 }

 .regular_board_board_all .child {
	border: none!important;
	background-color: #fafbff;
 }
 
 .regular_board_board_all .thread .thread {
	margin: 5px;
 }
 .regular_board_board_all #omitted .thread:hover {
	background-color: #f6f6f6!important;
 }
  
 .regular_board_board_all .hidden {
	display: none!important;
	visibility: hidden!important;
	width: 0!important;
	height: 0!important;
 }

 .regular_board_board_all .src{
	display: block;
	width: 100%;
	height: 150px;
	padding: 5px;
	margin: 0;
 } 
 .regular_board_board_all .current{
	border-right: 1px dotted red;
	border-top: 1px dotted red;
	border-bottom: 1px dotted red;
 }
 .regular_board_board_all .stats,
 .regular_board_board_all #stats{
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	border: 1px solid rgba(255,255,255,.1);
	display: block;
	margin: 0 0 5px 0;
	padding: 5px;
	width: 98%;
 }
 .regular_board_board_all #omitted {
	background-color: #eef4ff;
	color: rgba(0,0,0,.8);
	border: 1px solid rgba(255,255,255,.1);
	display: block;
	margin: 3px 0 5px 0;
	width: 100%; 
 }
 .regular_board_board_all #omitted .thread {
	margin: 5px auto 10px;
	color: rgba(0,0,0,.8);
	border-left: 1px solid #000;
	padding: 5px;
 }
 /**
  *
  * Responsive
  *
  */
@media only screen and (max-width: 1220px) {  
 .regular_board_board_all .left-half-two strong,
 .regular_board_board_all .left-half-two span {
	float: left;
	clear: none; 
	padding: 5px;
	margin: -12px 0 12px 0;
 } 
 .regular_board_board_all .left-half {
	color: #000;
	background-color: #eef4ff;
	position: relative;
	float:right;
	display: block;
	margin: 5px 10px;
	padding: 2px;
	width: 48%;
	overflow: hidden;
	z-index: 2;
	position: relative;
 }
 .regular_board_board_all .left-half-two {
	height: 30px;
	overflow: hidden;
	color: #000;
	background-color: #fff;
	margin: 0 0 5px 0 !important;
	padding: 5px;
	position: relative;
	width: 50%; 
	text-align: center;
 } 
}  
@media only screen and (max-width: 880px) {
	.regular_board_board_all .left-half-two {
		height: 25px;
		overflow: hidden;
		color: #000;
		background-color: #fff;
		margin: 0 0 5px 0 !important;
		padding: 5px;
		position: relative;
		width: 100%; 
		text-align: center;
	} 
	.bg-left {
		width: 100%;
	}
	.bg-right {
		display: none;
		visibility: hidden;
	}
	.regular_board_board_all .form_form {
		margin: 0;
	}
	.regular_board_board_all .navi a span {
		display: none;
	}
	.regular_board_board_all .banner {
		margin: auto;
	}
	.regular_board_board_all .left-half {
		text-align: center;
	}
	.regular_board_board_all .left-half,
	.regular_board_board_all .navi,
	.regular_board_board_all .right-half {
		display: block !important;
		width: 100% !important;
		clear: both !important;  
		float: none !important;
		margin: auto !important;
	}
}