 /**
  * Regular Board (admin) CSS
  *
  * CSS to style Regular Board (February 10th, 2014)
  */
  
 #regular_board_options {
	background-color: rgba(0,0,0,.8);
	color: rgba(255,255,255,.8);
	display: block;
	font-size: 10px;
	margin: 5px auto;
	padding: 5px 0;
	width: 100%;
 }
 #regular_board_options div p {
	background-color: rgba(0,0,0,.8);
	color: rgba(255,255,255,.8);
	display: block;
	font-size: 10px;
	margin: 5px auto;
	padding: 5px;
	width: 95%;
 }
 #regular_board_options div p:hover {
	background-color: rgba(0,0,0,.5);
	color: rgba(255,255,255,1);
 }
 #regular_board_options form section:after,
 #regular_board_options form:after,
 #regular_board_options div:after,
 #regular_board_options:after {
	clear: both;
	content: "";
	display: table;
 }
 #regular_board_options div {
	background-color: rgba(0,0,0,.2);
	clear: both;
	display: block;
	margin: 5px auto;
	padding: 5px;
	width: 95%;
 }
 #regular_board_options div input[type="submit"] {
	display: block;
	margin: 5px auto;
 }
 #regular_board_options form {
	display: block;
	margin: 15px auto;
	width: 95%;
 }
 #regular_board_options form section {
	display: block;
	width: 100%;
	margin: 5px 0;
 }
 #regular_board_options form section label {
	line-height: 25px;
 }
 #regular_board_options form section textarea {
	height: 100px;
 }
 #regular_board_options form section textarea,
 #regular_board_options form section input,
 #regular_board_options form section select {
		clear: both;
		display: block;
		width: 100%;
 }