/* Regular Board admin stylesheet
	(since version 2.00.0.9) */
	
	.RBSettings *:after,
	.RBSettings *:before,
	.RBSettings * {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;	
	}
	.RBSettings:after {
		clear: both; 
		content: ""; 
		display: table;
	}
	.RBSettings {
		background-color: #fff;
		border: 1px solid rgba(0,0,0,.1);
		clear: both;
		display: block; 
		padding: 5px; 
		margin: 10px 0 25px; 
		width: 98%; 
	}
	.RBSettings .setting:after {
		clear: both; 
		content: ""; 
		display: table;
	}
	.RBSettings .setting {
		clear: both; 
		color: rgba(0,0,0,.5);
		padding: 10px; 
	}
		.RBSettings .setting .clear select,
		.RBSettings .setting form {
			border: 1px solid rgba(0,0,0,.1);
			clear: none;
			margin: 2px;
			padding: 5px;
			width: 30%;
			float: left;
		}
		.RBSettings .setting form label {
			display: block; 
			height: 100%;
			width: 100%;
		}
		.RBSettings .setting form label:hover {
			color: rgba(0,0,0,.8);
		}
			.RBSettings .setting form label .fa {
				float: right;
				padding: 5px;
			}
			.RBSettings .setting form label .fa-exclamation {
				padding: 5px 8px;
			}
		.RBSettings .clear:after {
			clear: both; 
			content: ""; 
			display: table;
		}
		.RBSettings .clear {
			clear: both;
			display: block; 
			margin: 5px 0 15px;
		}
		.RBSettings .setting .list {
			border: 1px solid rgba(0,0,0,.1);
			display: block;
			float: left;
			height: 510px; 
			overflow-x: hidden; 
			overflow-y: auto; 
			width: 30%;
		}
		.RBSettings .setting .list span {
			border: none;
			clear: both; 
			display: block; 
			float: none;
			margin: 0;
			padding: 5px; 
			width: 100%; 		
		}
		.RBSettings .setting .list span em {
			float: right;
		}
		.RBSettings .setting span {
			border: 1px solid rgba(0,0,0,.1);
			float: left;
			margin: .1%;
			padding: 5px; 
			width: 30%; 
		}
		.RBSettings .setting form select {
			clear: both; 
			margin: 5px 0 -10px;
			width: 100%;
		}
		
		.RBSettings .setting .rightContainer {
			width: 70%; 
			float: right;
		}
			.RBSettings .setting .rightContainer section {
				clear: both; 
				width: 100%;
				height: 20px;
			}
				.RBSettings .setting .rightContainer label {
					float: left;
					width: 45%;
				}
				.RBSettings .setting .rightContainer input {
					float: right;
					width: 45%;
				}				
	
	
		.RBSettings .right .list{ 
			border: 1px solid rgba(0,0,0,.1);
			clear: both; 
			height: 140px;
			overflow-y: auto;
			overflow-x: hidden;
			display: block;
			padding: 5px;
			width: 98%;
		}
		.RBSettings .right .list span{ 
			float: left;
			margin: 5px;
			width: 48%;
		}	
		.RBSettings form .right {
			float: right;
			width: 70%;
		}
		.RBSettings form .left {
			float: left;
			width: 25%;
		}
		.RBSettings form.clear:after, 
		.RBSettings form .clear:after {
			clear: both; 
			content: "";
			display: table;
		}
		.RBSettings form.clear {
			clear: both; 
			font-size: 95%;
			display: block; 
			margin: 5px 0;
			width: 100%; 
		}
		.RBSettings form .clear {
			clear: both; 
			display: block; 
			width: 100%; 
		}
		.RBSettings form.clear input[type="submit"] {
			clear: both; 
			display: block; 
			width: 100%;
		}
		.RBSettings .right hr {
			clear: both; 
			margin: 35px 0;
		}
		.RBSettings .left p,
		.RBSettings .settingHeader p {
			font-size: 85%;
			margin: 15px;
		}
		.RBSettings .right p {
			border-top: 1px solid rgba(0,0,0,.1);
			clear: both; 
			font-size: 90%; 
			margin: 5px 0 0;
			padding: 10px 0;
		}
		.RBSettings .settingHeader {
			border-bottom: 1px solid rgba(0,0,0,.1);
			clear: both; 
			display: block;
			width: 100%; 
		}
			.RBSettings .settingHeader .sectionTitle {
				font-size: 105%;
				font-weight: 900;
				padding: 5px 0;
			}
		.RBSettings .left {
			display: block; 
			float: left; 
			padding: 5px;
			width: 100px; 
		}
			.RBSettings .left p {
				color: rgba(0,0,0,.5);
				display: block;
				margin: 10px 0 0;
				padding: 5px 0;
				width: 100%; 
			}
			.config:after {
				clear: both; 
				content: "";
				display: block; 
			}
			.config {
				clear: both; 
				display: block; 
				margin: 5px 0 5px;
				width: 100%; 
			}
			.config i {
				float: right; 
				margin: -16px 2px 0 0;
			}
			.config label {
				width: 100%;
				float: left;
				font-size: 85%;
			}
				.config label:hover,
				.config label:hover ~ i{
					background-color: rgba(0,0,0,.8);
					color: rgba(255,255,255,.8);
				}
			
		.RBSettings .right {
			border-left: 1px solid rgba(0,0,0,.1);		
			display: block; 
			float: right; 
			padding: 5px; 
			width: 560px;
		}
		.RBSettings .sectionTitle:after {
			clear: both; 
			content: "";
			display: table;
		}
		.RBSettings .sectionTitle {
			border-bottom: 1px solid rgba(0,0,0,.1);
			clear: both; 
			display: block;
			margin: 0 0 10px;
			width: 100%; 
		}
		.RBSettings .textAlignRight {
			text-align: right;
		}
		.hidden {
			display: none;
			visibility: hidden; 
		}

@media only screen and (max-width: 950px) {
	.RBSettings .setting span,
	.RBSettings .setting .clear select,
	.RBSettings .setting form {
		width: 45%;
	}
	.RBSettings form.clear {
		width: 100%;
	}
}
@media only screen and (max-width: 782px) {
	.RBSettings .setting span,
	.RBSettings .setting .clear select,
	.RBSettings .setting form {
		width: 100%;
	}
}